.main-productos {
   padding-bottom: 0.8rem;

   .productos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      text-align: center;
   }
   .card-prod {
      @extend .card;
      @extend.boton-compra;
      @extend .precio;
      @extend .description;
   }
   .card-prod:hover {
      transform: scale(1.05);
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
   }

   
}